.projectsSection {
    position: relative;
    width: 100vw;
    height: 100%;
}

.projectsSection .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsSection .content .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2.5em;
}